# Local Netlify folder
.netlify

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/flint-to-eflint/.venv
*.pyc
*.pyc
/flint-to-eflint/service/.venv
*.env
deploy/netlify/netlify.env
my_notes.md
